/*admin-panel*/
.f9 {
  font-size: 9px
}
.f10 {
  font-size: 10px
}
.f11 {
  font-size: 11px
}
.f12 {
  font-size: 12px
}
.f13 {
  font-size: 15px
}
.f16 {
  font-size: 16px
}
.f18 {
  font-size: 18px
}
.f20 {
  font-size: 20px
}
.f30 {
  font-size: 30px
}
.f36 {
  font-size: 36px
}
.f42 {
  font-size: 42px
}
.f72 {
  font-size: 72px;
  line-height: 72px
}
/* admin-panel*/
